[Unit]
Type=oneshot
Description=Setup Phalanx

[Service]
ExecStart=/usr/bin/python3 /opt/phalanx/main.py -l
ExecStart=/usr/bin/python3 /opt/phalanx/main.py
